@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Sora", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}
